<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>tangedco-admin</display-name>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Properties Servlet</servlet-name>
    <servlet-class>tneb.ccms.admin.util.PropertiesLoaderServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>tneb.ccms.admin.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/faces/admin/*</url-pattern>
    <url-pattern>/faces/callcenter/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>httpHeaderSecurity</filter-name>
    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
    <init-param>
      <param-name>hstsEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>hstsMaxAgeSeconds</param-name>
      <param-value>31536000</param-value>
    </init-param>
    <init-param>
      <param-name>hstsIncludeSubDomains</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>antiClickJackingEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>antiClickJackingOption</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>httpHeaderSecurity</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>faces/login.xhtml</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/faces/notfound.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/faces/error.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException
		</exception-type>
    <location>/faces/expired.xhtml</location>
  </error-page>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey RESTful Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer
		</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>tneb.ccms.admin.service</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey RESTful Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>FeedbackCall</display-name>
    <servlet-name>FeedbackCall</servlet-name>
    <servlet-class>tneb.ccms.admin.controller.FeedbackCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackCall</servlet-name>
    <url-pattern>/FeedbackCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DooctiApiServlets</display-name>
    <servlet-name>DooctiApiServlets</servlet-name>
    <servlet-class>DooctiApiServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DooctiApiServlets</servlet-name>
    <url-pattern>/DooctiApiServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBackCallServlet</display-name>
    <servlet-name>FeedBackCallServlet</servlet-name>
    <servlet-class>tneb.ccms.admin.controller.FeedBackCallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackCallServlet</servlet-name>
    <url-pattern>/FeedBackCallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackResponse</display-name>
    <servlet-name>feedbackResponse</servlet-name>
    <servlet-class>tneb.ccms.admin.controller.feedbackResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackResponse</servlet-name>
    <url-pattern>/feedbackResponse</url-pattern>
  </servlet-mapping>
    
</web-app>